.blackBackground{
	background-color: black;
	text-align: center;
}
.blackButton{
	border-color: black; 
	background-color: black;
	padding: 0px;
}
button:focus {
	outline:0;
}
.imgSize{
	height: 550px;
	width: 330px;
}
.txtStyle{
	color: white;
	font-family: Segoe UI;
}